/*ocultem el camp total*/

#formulari_donatius #field_5_19 {
	display:none;
}

#field_5_27 h4, #field_5_28 h4{
	text-align: center;
}

#formulari_donatius .gform_required_legend {
	display	: none;
}

#formulari_donatius .simula_h3 legend  {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 20px 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

#formulari_donatius .especial_botons .gchoice {
	background:#c0c0c0;
	text-transform: uppercase;
	border-radius:10px;
}

#formulari_donatius .especial_botons .gchoice:hover {
	background:var(--color-primari);
}

#formulari_donatius .especial_botons label {
	font-size: 28px ;
	text-align:center;
	width: 100%;
	max-width: calc(100%) !important;
	padding:10px;
	font-weight:400;
}
#formulari_donatius .especial_botons .gfield_radio {
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 0;
}
#formulari_donatius .especial_botons .gfield_radio .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  transition: all 0.3s ease;
}
#formulari_donatius .especial_botons .gfield_radio .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
#formulari_donatius .especial_botons .gfield_radio .option::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--color-primari);
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
#formulari_donatius .especial_botons input[type="radio"]{
 display:none;
}
#formulari_donatius .especial_botons .gform_wrapper.gravity-theme .gfield-choice-input + label {
  
}

#formulari_donatius .especial_botons .gfield-choice-input:checked + label {
  background: var(--color-primari);
  border-radius	: 10px;
  max-width: calc(100%) !important;
}

#formulari_donatius .gform_wrapper .gfield.gf_list_2col .gfield_checkbox, 
#formulari_donatius .gform_wrapper .gfield.gf_list_2col .gfield_radio {
	grid-row-gap	: 2rem;
}

/** Formulari Donatius - Passos **/
#formulari_donatius .gform_wrapper.gravity-theme .gf_page_steps {
	margin: 20px auto 20px auto !important;
	width: 300px;
}

#formulari_donatius .gform_wrapper .gf_page_steps::before {
	top	: 15px;
}

#formulari_donatius .gform_wrapper .gf_page_steps .gf_step {
  background-color: #E9E9E9;
  width: 50px;
}

#formulari_donatius .gform_wrapper .gf_page_steps .gf_step .gf_step_label {
	display	: none !important;
}

#formulari_donatius .gform_wrapper .gf_page_steps .gf_step_number {
  height: 30px;
  line-height: 30px;
  width: 30px;
}

#formulari_donatius .gform_wrapper.gravity-theme .gf_step_completed .gf_step_number::before {
  height: 30px;
  line-height: 30px;
  width: 30px;
}

/* Formulari Donatius - Títols <h3> */
#formulari_donatius #field_5_46 h3,
#formulari_donatius #field_5_47 h3,
#formulari_donatius #field_5_48 h3 {
	font-size	: 40px !important;
	text-align	: center  !important;
	text-transform	: none !important;
	width	: 100%;
}

/** Formulari Donatius - Com vols col·laborar **/
#gform_fields_5 {

}

#gform_fields_5 legend {
	font-size	: 40px !important;
	text-align	: center  !important;
	text-transform	: none !important;
	width	: 100%;
}

#gform_fields_5 legend .gfield_required {
	display	: none;
}

#gform_fields_5 label {
	line-height	: 1.2;
}

#gform_fields_5 label small {
	font-size	: 14px;
}

/* Taula calculadora */
#taula-calculadora {
	border	: none;
	margin	: 0 auto;
	width	: 550px;
}

#taula-calculadora td {
	border	: none;
}

#taula-calculadora .import {
	text-align	: right;
}

#taula-calculadora .row-resultat {
	font-size	: 120%;
	font-weight	: 700;
}

/** Footer **/
#formulari_donatius .gform_page_footer {
	text-align	: center;
}

#formulari_donatius .gform_footer .gform_button, 
#formulari_donatius .gform_page_footer .button {
	font-size	: 24px;
	padding	: 8px 30px !important;
}

/*popup*/
#descripcio_choice_5_16_0 {
	/*
	background-image: url("https://donacions.fundesplai.org/img/landing-donacions/donatiu-campanya-estiu-fundesplai.jpg") !important;
	*/
}

#formulari_donatius [id*="descripcio_choice_5_16_"] {
	display:none;
	width:100%;
	border:2px solid #DCDC1C;
	padding:10px;
	color:#fff !important;
	background-size: auto, auto;
	background-size: cover;
} 
#formulari_donatius [id*="descripcio_choice_5_16_"]  h3{
	color:#fff !important;
} 

#formulari_donatius .popup-content {
	margin-bottom:15px;
	text-align:center;
	margin: 0 auto;
	width:60%;
}

