
/* Shortcode de Cases */

.carrousel-equipaments {
	display: flex;
	width: 100%;
}

.carrousel-equipaments .carrousel-btn-prev {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #ccc;
	order: 1;

}

.carrousel-equipaments .carrousel-btn-next {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: #ccc;
	order: 3;
}

@media (min-width: 981px) {
	.carrousel-equipaments .graella-fotos-equipaments .equipament {
		max-width: 450px;
		width: 33.33%;
	}

	.carrousel-equipaments .overlay {
		font-size: 18px;
	}

	.carrousel-equipaments .overlay-expanded-body {
		font-size: 18px;
	}
}

@media (max-width: 980px) and (min-width: 769px) {
	.carrousel-equipaments .graella-fotos-equipaments .equipament {
		max-width: 50%;
		width: 50%;
	}

	.carrousel-equipaments .overlay {
		font-size: 16px;
	}

	.carrousel-equipaments .overlay-expanded-body {
			 font-size: 16px;
	}
}

.carrousel-equipaments .graella-fotos-equipaments {
	flex-wrap	: nowrap;
	justify-content	: left;
	margin: auto;
	max-height: 300px;
	max-width: 100%;
	order: 2;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align	: center;
	transition: 450ms -webkit-transform;
	transition: 450ms transform, 450ms -webkit-transform;
	transition: 450ms transform;
	width:100%;
}

.carrousel-equipaments .graella-fotos-equipaments::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.carrousel-equipaments .graella-fotos-equipaments::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

.carrousel-equipaments .graella-fotos-equipaments .equipament {
	cursor: pointer;
	font-size: 20px;
	flex-shrink	: 0;
	height: 300px;
	min-height: 300px;
	transform-origin: center left;
	-webkit-transform-origin: center left;
	transition: 450ms all;
}

.carrousel-equipaments .overlay {
	position: absolute;
	bottom: 0;
	font-size: 18px;
	white-space: normal;
}

.carrousel-equipaments .overlay-body {
	position: absolute;
}

.carrousel-equipaments .foto-amb-overlay:hover .overlay-expanded {
	opacity: 1;
	white-space: normal;
}

.carrousel-equipaments .foto-amb-overlay .overlay-title {
	text-align	: left;
}

.carrousel-equipaments .etiqueta-preu-des-de {
	background-color: #DCDC1C;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	color: #333;
	display: table;
	left: 0px;
	line-height: 1.1;
	padding: 3px 5px;
	position: relative;
	text-align: center;
	text-shadow: none;
	top: -233px;
}

.carrousel-equipaments .etiqueta-preu-des-de .label {
	display: block;
	font-size: 12px;
}

.carrousel-equipaments .etiqueta-preu-des-de .preu {
	display: block;
	font-size: 16px;
	font-weight: bold;
}
